.content{
    width:1200px;
    margin:0 auto;
}

.left{
    float: left;
}
.right{
    float: right;
}
.left a{
    color: #a4a4a4;
    line-height:30px;
}
.right a{
    color: #a4a4a4;
    line-height:30px;
}
.left li{
    float: left;
    padding:0 8px;
    position: relative;
}
.right li{
    float: left;
    padding:0 8px;
    position: relative;
}
.left li:nth-child(1){
    padding-left:0;
}
.hover:hover{
    color: #ca151d;
}
.nav{
    padding: 10px 0;
}
.left2{
    float: left;
    margin-right: 40px;
    width: 240px;
    height: 50px;
}
.con2{
    float: left;
    max-width: 560px;
    height: 40px;
    overflow: hidden;
    margin-top: 5px;
    
}
.right2{
    float: right;
}
.con2 li{
    float: left;
    margin-right: 20px;
}
.con2 li a{
    font-size: 16px;
    color: #3a3a3a;
    position: relative;
    line-height: 40px;
    display: block;
}
.con2 ul li a:hover:before{
    display: block;
    color: #ca141d;
    content: "";
    height: 2px;
    width: 100%;
  
    background: #ca141d;
    position: absolute;
    bottom: 3px;
}
.right2_a{
    margin-top:10px;
    line-height: 1;
    border: 1px solid #ddd;
    width: 328px;
    height: 30px;
    border-radius: 2px;
    overflow: hidden;
}
.input{
    float: left;
    background: #fff;
    border: none;
    outline: none;
    color: #3a3a3a;
    width: 299px;
    padding-left: 10px;
    height: 32px;
    line-height: 32px;
}
.submit{
    float: left;
    background: url(https://res.vmallres.com/20180615/images/echannel/icon-common.png);
}

.san{
    width:100%;
    height:450px;
    overflow: hidden;
}
.san1{
    width:1200px;
    margin:0 auto;
    height:450px;
    position: relative;
}
.san1 .san1_tu{
    width:1920px;
    height:100%;
    position: absolute;
    left:50%;
}
.san1 .san1_tu li{
    
    position: absolute;
    left:-50%;
}
.san1 .san1_tu li:nth-child(1){
    background: url(../img/s1.jpg) no-repeat  50% 0px;
    height: 450px;
    position: absolute;
    /* display: none; */
}
.san1 .san1_tu li:nth-child(2){
    background: url(../img/s2.jpg) no-repeat  50% 0px;
    width: 100%;
    height: 450px;
    position: absolute;
    /* display: none; */
}
.san1 .san1_tu li:nth-child(3){
    background: url(../img/s3.jpg) no-repeat  50% 0px;
    width: 100%;
    height: 450px;
    position: absolute;
    /* display: none; */
}
.san1 .san1_tu li:nth-child(4){
    background: url(../img/s4.jpg) no-repeat  50% 0px;
    width: 100%;
    height: 450px;
    position: absolute;
    /* display: none; */
}
.san1 .san1_tu li:nth-child(5){
    background: url(../img/s5.jpg) no-repeat  50% 0px;
    /* width: 100%; */
    height: 450px;
    
    position: absolute;
    /* display: none; */
}

.san2 .san2_list .san2_list_li{
    height:75px;
}
.list3_1{
    width:25%;
    height:236px;
    display: block;
}
.list3_1 p{
    margin: 26px auto 0;
    width: 118px;
    height: 118px;
    text-align: center;
   
}
.list3_1 p img{
    width: 118px;
    height: 118px;
}
.list3_1 div{ 
    margin-top: 0;
    padding-top: 0;
    width: 129px;
    height: 42px;
    line-height: 1.1;
    font-size: 14px;
    font-weight: 400;
    margin: 16px 20px 2px;
    overflow: hidden;
    color: #3a3a3a;
    display: table-cell;
    vertical-align: bottom;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center
}
.list3_1 .list3_1_3{
    margin: 8px auto;
    line-height: 1;
}
.si_c_1_c_left{
    width:59px;
    height:59px;
    padding-top: 6px;
    float: left;
}
.si_c_1_c_left img{
    width:100%;
}
.si_c_1_c_right{
    margin-left:20px;
    width:168px;
    float: right;
}
.si_c_1_c_right_top{
    margin-top: 8px;
    font-size: 12px;
    color: #a4a4a4;
    line-height: 1.3;
    width: 168px
}
.si_c_1_c_right_top a{
    color: #3a3a3a;
    text-decoration: underline
}
.xin_ren,.hui_yuan{
    display: inline-block;
    width: 58px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border: 1px solid #ca141d;
    background: #FFF;
    
    margin-right: 10px;
    
}
.xin_ren a{
    color: #ca141d;
}
.hui_yuan a{
    color: #ca141d;
}
.si_c_1_c_right_bottom{
    margin-top: 8px;
    line-height: 1.3;
}
.si_c_2_ul_li_a_div1{
    width:40px;
    height:40px;
    margin: 0 auto;
    overflow: hidden;
    position: relative
}
.si_c_2_ul_li_a_div2{
    font-size: 12px;
    line-height: 20px;
    color: #3a3a3a;
    margin: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.si_c_2_ul_li:nth-child(2) .si_c_2_ul_li_a_div1 img{
    position: absolute;
    left:-40px;
}
.si_c_2_ul_li:nth-child(3) .si_c_2_ul_li_a_div1 img{
    position: absolute;
    left:-80px;
}
.si_c_2_ul_li:nth-child(4) .si_c_2_ul_li_a_div1 img{
    position: absolute;
    left:-120px;
}
.si_c_2_ul_li:nth-child(5) .si_c_2_ul_li_a_div1 img{
    position: absolute;
    left:-160px;
}
.si_c_2_ul_li:nth-child(6) .si_c_2_ul_li_a_div1 img{
    position: absolute;
    left:-200px;
}
.si_c_3_top{
    height:48px;
    border-bottom: 1px solid #eaeaea;
}
.si_c_3_top_left{
    width:58px;
    height:100%;
    float: left;
}
.si_c_3_top_right{
    float: right;
    height:100%;
    width:243px;
}
.si_c_3_top_left a span{
    width: 31px;
    height: 13px;
    background: url(../img/icon-common.png);
    display: block;
    position: relative;
    top: 17px;
    margin: 0 auto;
    background-position: -17px -214px;
}
.si_c_3_top_right ul li a{
    color:#333;
    line-height: 48px;
    white-space: nowrap;
    text-overflow:ellipsis
}
.si_c_3_top_right ul{
    height:100%;
    width:100%;
    overflow: hidden;
}
.si_c_3_top_right ul li{
    height:100%;
    width:100%;
}
.si_c_3_bottom{
    height:48px;

}
.si_c_3_bottom_ul{
    height:48px;
}
.si_c_3_bottom_ul_li{
    width:33.3333%;
    float: left;
}
.si_c_3_bottom_ul_li a{
    width:100%;
    height:100%;
    display: block;
    color:3a3a3a;
    line-height: 48px;
}
.si_c_3_bottom_ul_li a span{
    display: inline-block;
    height: 20px;
    margin-right: 6px;
    overflow: hidden;
    position: relative;
    top: 6px;
    width: 20px
}
.si_c_3_bottom_ul_li a span img{
    position: absolute;
    left:-240px;
}
.liu{
    width:1200px;
    height:657px;
    margin:0 auto;
}
.liu_b{
    height:67px;
}
.liu_b h2{
    color: #3a3a3a;
    font-size: 22px;
    margin: 0;
    padding: 30px 0 15px 0;
    line-height: 1;
    font-weight: 400;
}
.liu_content_left{
    width:232px;
    float: left;
}
.liu_content_right{
    width:968px;
    height:600px;
    float: left;
}
.liu_content_right_li{
    background: #FFF;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -ms-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
    width: 232px;
    height: 290px;
    z-index: 1;
}
.liu_content_right_li_a{
    width:100%;
    height:100%;
}
.liu_content_right_li_a img{
    width: 148px;
    height: 148px;
    margin:28px auto 0;
    display: block;
}
.liu_content_right_li p{
    text-align: center;
    line-height: 28px;
}
.liu_content_right_li_a_p{
    margin-top:10px;
    display: block;
}
.liu_content{
    overflow: hidden;
}
.qi_bottom{
    width: 1200px;
}
.qi_ul{
    width: 6545.45px;
    height: 305px;
    
}
.qi_li{
    width:217px;
    height: 100%;
    margin-left:1px;
    background: #FFF;
    float: left;
}
.qi_li_a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.qi_li_a_img{
    margin-top:38px;
    margin-bottom: 10px;
    width: 134px;
    height: 134px;
    display:inline-block;
}
.ba_div1{
    height: 38px;
    margin: 22px 0 12px;
    line-height: 36px;
    position: relative;
}
.ba_div1_h2{
    font-weight: 400;
    font-size: 22px;
    float: left;
}
.ba_div1_ul{
    float: left;
    margin-left:28px;
}
.ba_div1_ul li{
    float: left;
    position: relative;
}
.ba_div1_ul li:hover:before{
    display: block;
    color: #ca141d;
    content: "";
    height: 2px;
    width: 100%;
  
    background: #ca141d;
    position: absolute;
    bottom: 3px;

}
.ba_div1_ul li a{
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    color: #a4a4a4;
    position: relative
}
.ba_div1_div{
    float: right;
    
}
.ba_div1_div a{
    padding: 0 14px;
    font-size: 18px;
    color: #666;
}
.qi_ul{
    margin-left: -12px;
}
.shou_hou{
    padding: 46px 0 46px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden
}
.shou_hou ul{

}
.shou_hou ul li{
    float: left;
    line-height: 47px;
    font-size: 18px;
    text-align: left;
    width: 25%;
   
}
.shou_hou ul li a{
    color:#333;
    
}
.shou_hou ul li a i{
    background: url(../img/icon-common.png);
    display: inline-block;
    line-height: 47px;
    width: 47px;
    height: 47px;
    margin-right: 16px;
    vertical-align: middle;
    background-position: 0 -151px;
}
.shou_hou ul li:nth-child(2) a i{
    background-position: -94px -151px;
}
.shou_hou ul li:nth-child(3) a i{
    background-position: -141px -151px;
}
.shou_hou ul li:nth-child(4) a i{
    background-position: -47px -151px;
}

.bottom_2_left{
    width: 944px;
    min-height: 164px;
    margin-top: 2px;
    border-right: 1px solid #ebebeb;
    float: left;
}
.bottom_2_left_heng_xian{
    background: #a8a8a8;
    width: 22px;
    height: 2px;
    margin: 2px 0 12px 0!important;
}
.bottom_2_left_dl{
    width: 16.66667%;
    float: left;
    margin-top: 0;
}
.bottom_2_left_btn{
    font-size: 14px!important;
    padding-bottom: 12px;
    color: #3a3a3a;
    display: block;
    border-left: none;
    padding-left: 0;
    line-height: 1.5!important;
    margin-bottom: 0!important;
}
.bottom_2_left_dl_li{
    line-height: 24px;
}
.bottom_2_left_dl_li a{
color: #666;
}
.bottom_2_right{
    float: left;
    width: 210px;
    min-height: 164px;
    margin-top: 2px;
    padding-left: 40px;
}
.bottom_2_right_btn{
    font-size: 24px!important;
    
    color: #3a3a3a;
    display: block;
    border-left: none;
    padding-left: 0;
    line-height: 1.5!important;
    margin-bottom: 0!important;
}
.bottom_2_right_bot{

}
.bottom_2_right_bot a{
    display: block;
    width: 161px;
    height: 35px;
    padding: 0;
    margin-top: 10px;
    background: #FFF;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #900!important;
    border-radius: 5px;
}
.btn_i{
    display: inline-block;
    height: 18px;
    width: 22px;
    margin-right: 8px;
    vertical-align: middle;
    background: url(../img/icon-common.png);
    background-position: -101px -23px;
}
.wang_zhan_di_content_p1{
    float: left;
    width: 79px;
    height: 16px;
    padding: 20px 38px 0 0;
}
.wang_zhan_di_content_p1 a{
    display: block;
}
.wang_zhan_di_content_p1 a img{
    vertical-align: top;
    width: 79px;
    height: 16px
}
.wang_zhan_di_content_p2{
    float: left;
    margin-top: 5px;
}
.wang_zhan_di_content_p3{
    float: right;
    padding: 15px 0 0;
}
.wang_zhan_di_content_p3 a{
    display: block;
    width: 70px;
    margin-left: 4px;
    height: 24px;
    float: left;
}
.wang_zhan_di_content_p3 a img{
    width: 100%;
}