html,body,div,ul,li,a,p,input,h1,h2,h3,h4,h5,h6,span{padding:0;margin:0;}
li{list-style: none;}
a{text-decoration:none;}
html{font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;}

.content .left ul li:before {
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    background: #e4e4e4;
}
.content .left ul li:nth-child(1):before{
    display: none;
}
.content .right ul li:before {
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    background: #e4e4e4;
}
.content .right ul li:nth-child(1):before,.content .right ul li:nth-child(2):before{
    display: none;
}
.header{
    overflow: hidden;
}
.nav{
    overflow: hidden;
}
.san2{
    position: absolute;
    z-index: 99;
    height:100%;
    font-size: 14px;
    width:240px;
    background-color:#000;
    opacity: 0.6;
}
.san2 .san2_list{
    width:100%;
    height:100%;
   
}
.san2_list_content{
    padding: 10px 16px;
    height: 55px;
    
}
.san2_list_content a{
    color:#fff;
    margin-right:5px;
    cursor: pointer;
}
.san_list_none{
    /* display: none; */
    position: absolute;
    left: 240px;
    width: 648px;
    height: 448px;
    background-color: #FFF;
    top: 0;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.list1{
    padding: 20px 28px 20px 40px;
    width: 580px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.list1 a{
    height:30px;
    width:580px;
    color: #ca151d;
}
.list1 a span{
    float: right;
}
.list2{
    overflow: hidden;
}
.list2 ul{
    width: 580px;
    padding: 36px 28px 0 40px;
    border-top: 1px solid #eaeaea;
}
.list2 ul li{
    float: left;
    padding-bottom: 36px;
    vertical-align: top;
}
.list2 ul li a{
    display: block;
    padding-right: 30px;
    line-height: 1;
    font-size: 14px;
    color: #3a3a3a;
}
.list3{
    overflow: hidden;
}
.si_c{
    background: #FFF;
    text-align: center;
    border: 1px solid #eaeaea;
    border-top: 0 none;
    width: 1198px;
    height: 97px;
    margin:0 auto;
}
.si_c_1{
    width: 288px;
    height: 72px;
    margin: 13px 0;
    float: left;
}
.si_c .si_c_1 .si_c_1_c{
    padding: 0 18px 7px 22px;
    text-align: left;
    color: #666;
}
.si_c_2{
    float: left;
    width: 602px;
    border-left: 1px solid #eaeaea;
    height: 72px;
    margin: 13px 0;
}
.si_c_2_ul_li{
    height: 72px;
    width: 16.6666667%;
    text-align: center;
    padding-top: 8px;
    float: left;
    position: relative;
}