.top{
    height:67px;
    background: #333333;
}
.content{
    width: 960px;
    height: 67px;
    margin: 0px auto;
    border: 0px;
    position: relative;
}
.content_left{
float: left;
}
.content_left img{
    margin-top: 12px;
}

.content_right{
float: left;
}
.content_right_p1{
    font-size: 18px;
    margin-top: 23px;
    float: left;
    margin-left:18px;
    width: 1px;
    height: 18px;
    background: #ccc;
}
.content_right_p2{
    font-size: 18px;
    margin-top: 8px;
    float: left;
    margin-left: 18px;
    line-height: 50px;
font-family: "arial";
color: white;
}
.bottom{

}
.typeArea{
width:960px;
margin:0 auto;
}
.bottom_typeArea_head{
    height:35px;
    line-height: 35px;
    margin-top:30px;
}
.bottom_typeArea_head .a2{
    background: #ccc;
}
.bottom_typeArea_head .a2 i{
    width: 22px;
    height: 17px;
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 16px;
    background-position: 0 0px;
}
.bottom_typeArea_head_a1{
    float: left;
    height:100%;
    width:146px;
    text-align: center;
    background: #B40707;
    color: #b7b7b7;
    margin-right:12px;
    position: relative;
}
.bottom_typeArea_head_a1 i{
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 26px;
    width: 14px;
    height: 22px;
    background: url("../img/reg-img01.png") no-repeat;
    background-position: 0 -18px;
}
.bottom_typeArea_head_a1 span{
    display: inline-block;
    height: 35px;
    width: 66px;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 30px;
    text-align: center;
}
.bottom_typeArea_head_a2{
    float: left;
}
.bottom_typeArea_head_p{
    float: right;
    font-size: 14px;
}
.bottom_typeArea_head_p a{
   color:#007dff;
   font-size: 14px;
}
.bottom_typeArea_content{
    height:524px;
    background: #fff;
}
.bottom_form{
    padding: 30px 270px;
    font-size: 14px;
    color: #333;

}